// コメントアウトが可能
{
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    // もうあるパーツ
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "semi": "error", //defaultになる
    // 本当はこう
    // "semi": ["error", "always"],
    // "semi": ["error", "never"],
    "quotes": ["warn", "single"],
    "no-console": "warn"
  }
}
