// コメントアウトが可能
{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": [],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": "error", //defaultになる
    // 本当はこう
    // "semi": ["error", "always"],
    // "semi": ["error", "never"],
    "quotes": ["warn", "single"],
    "no-console": "warn"
  }
}
